.about-modal-container {
	width: 50%;
	height: 19.5em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	position: absolute;
	border-style: solid;
	border-color: #5b83ad;
	border-width: 0.3em;
	border-radius: 6px;
	left: 20%;
	background: rgba(0, 0, 0, 0.5);
}

.about-modal-info {
	width: 50%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background: #5b83ad;
}

.about-modal-text {
	padding-left: 5%;
	padding-right: 5%;
}

.about-modal-text h3 {
	color: white;
	font-size: 0.8em;
	text-align: justify;
	text-justify: inter-word;
}

.about-modal-text ul {
	list-style: none;
	padding: 0;
}
.about-modal-text li {
	padding-left: 1.3em;
}
.about-modal-text li:before {
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
}

.about-modal-image {
	width: 50%;
	height: 100%;
}

.about-modal-image img {
	position: relative;
	height: 100%;
	width: 100%;
	object-fit: contain;
	background: white;
}

.about-modal-close-button {
	float: right;
	margin-top: 2%;
	background-color: black;
	border: none;
	color: white;
	padding: 2px 10px 2px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 12px;
	cursor: pointer;
}
