.top-navbar {
	height: 2.7em;
}

.top-navbar h2 {
	color: black;
}

.about-button {
	float: right;
	background-color: white;
	cursor: pointer;
	margin-right: 5%;
}

.about-button img {
	height: 3em;
}
